

{% extends 'admin_user/base.html' %}
{% load static %}


{% block content %}


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="container-fluid px-2 px-md-4">
  <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
    <span class="mask  bg-gradient-primary  opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row gx-4 mb-2">
      <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
          <img src="../assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">
            User Details
          </h5>
        </div>
      </div>
    </div>
    <div class="row container-fluid">

      <form role="form" method="post">
        {% csrf_token %}


        <div class="row">
          <div class="col-lg-6">
            <p>Details</p>
          </div>

          
          <div class="col-lg-6">
            <p>Details</p>
          </div>

        </div>


        

        <div class="text-center">
          <button type="submit" class="btn btn-lg bg-gradient-primary w-100 mt-4 mb-0"><small>Submit</small></button>
        </div>
      </form>

    </div>
  </div>
</div>


{% endblock %}
