
{% extends 'app_user/base.html' %}
{% load static %}


{% block content %}

	<div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">4203 units</p>
                <h6 class="mb-0">Last BMI</h6>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Date: </span>Dec 25, 2021</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">1234units</p>
                <h6 class="mb-0">Last EDD</h6>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Date: </span>25th, Dec 2021</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-sm-6">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">323 unit</p>
                <h6 class="mb-0">Last Ovulation</h6>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Date: </span>27th, Dec 2021</p>
            </div>
          </div>
        </div>
      </div>


      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://media.istockphoto.com/vectors/healthy-pregnancy-concept-doctor-examining-a-pregnant-woman-at-the-vector-id1186989620?k=20&m=1186989620&s=170667a&w=0&h=l1-OxkYTPwrffQGEvN8FbxNHHXMgKWcPQmpSE3ntmic='); width: auto; height: auto;">
        <span class="mask  bg-gradient-dark  opacity-6"></span>
      </div>


		
	</div>
			
{% endblock %}